body{
  margin:0;
  background-color:#d8dfea;
}

#main-body{
  height: 100%;
  width: 100%;
}

#middle{
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
}

#left-sidebar-body{
  background-color:pink;
  height: 1000px;
  width: 240px;
}

#make-post-body{
  background-color:#00b342;
  width:100%;
  height:200px;
  margin-bottom: 20px;
}

.posts{
  background-color:#42bf42;
  width:100%;
  height:400px;
}

#right-sidebar-body{
  background-color:blue;
  height: 1000px;
  width: 370px;
}

#main-posts-body{
  margin-left: 20px;
  margin-right: 20px;
  background-color:orange;
  height: 1000px;
  width: 610px;
  display: flex;
  flex-direction: column;
}

#nav-body{
  padding-left: 300px;
}

.nav{
  background-color:#4267b2;
  height: 50px;
  width: 100%;
}

#search-rectangle {
	width: 50px;
	height: 100px;
	background: grey;
}

.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #2196F3;
    color: white;
}

.nav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    /*margin-left: 16px;*/
    font-size: 17px;
    width:500px;
}
